/* general styling */
:root {
    --smaller: .75;
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html, body {
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100%;
    margin: 0;
}
  
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
    height: 100vh;
    scroll-snap-align: start;
}

#exams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffeb3c;
    color: #333;
    margin: 0 auto;
    text-align: center;
    
}

#sdays {
    background-color: #f64136;
    color: #333;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#sdays h1 {
    position: absolute;
    top: 30%;
    width: 100%;
}

#sdays div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#hourswrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #019688;
    color: #333;
    margin: 0 auto;
    text-align: center;
}

#hourswrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#hourswrapper ul li {
    width: 33.33%;
}


h1 {
    font-weight: normal;
    font-size: 2.5em;
    letter-spacing: .125rem;
    text-transform: uppercase;
    margin-bottom: 100px;
}

#hourswrapper h1 {
    margin: 0;
    font-weight: bold;
}

#exams h1 {
    font-size: 1.5em;
    margin: 0;
}
  
li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}
  
li span {
    display: block;
    font-size: 5.5rem;
    font-weight: bold;
}

p {
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: bold;
}
  
.emoji {
    display: none;
    padding: 1rem;
}
  
.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}
  
@media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }

    p {
        font-size: calc(10rem * var(--smaller));
    }
    
    li{
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span{
      font-size: calc(3.375rem * var(--smaller));
    }
}